    * {
               box-sizing: border-box;
          }
          @media (min-width: 992px) {
 .col-lg-4 {
    float: left;
    border: 5px solid white; 
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
  }

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
    border: 5px solid white;
  }
 
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px)  {
   .col-sm-12 {
    float: left;
    border: 5px solid white;
  }
 
  .col-sm-12 {
    width: 100%;
  }
}
h2 {
     float: right;
     width: 150px;
     text-align: center;
     margin: 0px;
}
h1 {
     text-align: center;
}
div {
     background-color: grey;
}
.Chicken {
  background-color: pink;
}
.Beef {
  background-color: brown;
}
.Sushi {
  background-color: yellow;
}