html,body {
	width: 100%;
	overflow-x: hidden;
}
h1 {
	text-align: center;
	font-weight: 800;
}
h2 {
	text-align: center;
	font-weight: 600;
}
h3 {
	text-align: center;
	font-weight: 400;
}
a:hover {
	text-decoration: none;
}
.card {
	border-radius: 10px;
	border: 5px;
}
.issue {
	border: 10px solid blue;
	border-radius: 20px;
	color: blue;
	background-color: white;
}
.alert {
	width: 100%;
}
.nav-link {
	color: green;
	font-weight: 600;
}
.backgroundimg {
	background-image: url(".jpg") ;
	background-size: auto ;
	background-repeat: no-repeat;
	background-color: cyan;
}
.imp { 
	width: 300px; 
}
.img1 {
background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img2 {
	background-color: indigo;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img3 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img4 {
	background-color: green;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img5 {
	background-color: yellow;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img6 {
	background-color: orange;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img7 {
	background-color: red;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img8 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.img9 {
	background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg1 {
background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg2 {
	background-color: indigo;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg3 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg4 {
	background-color: green;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg5 {
	background-color: yellow;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg6 {
	background-color: orange;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg7 {
	background-color: red;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg8 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.blogimg9 {
	background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg1 {
background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg2 {
	background-color: indigo;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg3 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg4 {
	background-color: green;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg5 {
	background-color: yellow;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg6 {
	background-color: orange;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg7 {
	background-color: red;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg8 {
	background-color: blue;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
.yourstoriesimg9 {
	background-color: violet;
background-image: url("") ;
border: 10px solid white;
border-radius: 20px;
}
footer {
	background-color: blue;
}
button {
	margin: 10px;
}